@import '~@angular/material/theming';

$primary: mat-palette($mat-light-blue);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

body {
  font-family: $mat-font-family;
  font-size: $mat-body-font-size-base;
}
