@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import './index-loader';
@import './default-theme';

*, :before, :after {
  user-select: none;
}

body {
  font-family: $mat-font-family;
  // height: 100vh;
  margin: 0;
}
