@import '~@angular/material/theming';

:host {

  > h1:first-child {
    text-align: center;
  }

  .simple-grid {

    md-card {
      border-radius: 5px;
      width: 400px;
      min-height: 150px;
      margin: 10px;
    }
  }
}
