<h2>
  <h1 i18n="User welcome|An introduction header for the dashboard">
    Welcome to <i>{{ applicationTitle }}</i>!
  </h1>
</h2>

<div class="simple-grid" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between">
  <md-card>
    <md-card-title>Snack Bar</md-card-title>
    <md-card-subtitle>Send a message</md-card-subtitle>
    <md-card-content>
      <md-input-container>
        <input mdInput value="Hey there!" placeholder="Message" #message>
      </md-input-container>
      <md-input-container>
        <input mdInput value="Do it!" placeholder="Action" #action>
      </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button (click)="openSnackBar(message.value, action.value)">Send</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>
    <md-card-content>
      Bacon ipsum dolor amet pork belly jerky pork chop tenderloin doner. Kevin frankfurter ribeye, tri-tip hamburger porchetta shank burgdoggen. Capicola jowl frankfurter prosciutto bresaola, salami pig andouille ground round pork belly. Flank pork belly alcatra pork chop meatball boudin venison kevin short ribs. Ham hock brisket filet mignon, ham leberkas sirloin venison salami pork chop bresaola shoulder.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>
    <md-card-content>
      Bacon ipsum dolor amet pork belly jerky pork chop tenderloin doner. Kevin frankfurter ribeye, tri-tip hamburger porchetta shank burgdoggen. Capicola jowl frankfurter prosciutto bresaola, salami pig andouille ground round pork belly. Flank pork belly alcatra pork chop meatball boudin venison kevin short ribs. Ham hock brisket filet mignon, ham leberkas sirloin venison salami pork chop bresaola shoulder.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>
    <md-card-content>
      Bacon ipsum dolor amet pork belly jerky pork chop tenderloin doner. Kevin frankfurter ribeye, tri-tip hamburger porchetta shank burgdoggen. Capicola jowl frankfurter prosciutto bresaola, salami pig andouille ground round pork belly. Flank pork belly alcatra pork chop meatball boudin venison kevin short ribs. Ham hock brisket filet mignon, ham leberkas sirloin venison salami pork chop bresaola shoulder.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>
    <md-card-content>
      Bacon ipsum dolor amet pork belly jerky pork chop tenderloin doner. Kevin frankfurter ribeye, tri-tip hamburger porchetta shank burgdoggen. Capicola jowl frankfurter prosciutto bresaola, salami pig andouille ground round pork belly. Flank pork belly alcatra pork chop meatball boudin venison kevin short ribs. Ham hock brisket filet mignon, ham leberkas sirloin venison salami pork chop bresaola shoulder.
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>
    <md-card-content>
      Bacon ipsum dolor amet pork belly jerky pork chop tenderloin doner. Kevin frankfurter ribeye, tri-tip hamburger porchetta shank burgdoggen. Capicola jowl frankfurter prosciutto bresaola, salami pig andouille ground round pork belly. Flank pork belly alcatra pork chop meatball boudin venison kevin short ribs. Ham hock brisket filet mignon, ham leberkas sirloin venison salami pork chop bresaola shoulder.
    </md-card-content>
  </md-card>
</div>
