@import '~@angular/material/theming';

:host {
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  > md-sidenav-container {
    height: 100vh;

    > md-sidenav {
      min-width: 25vw;

      > md-nav-list > a {
        outline-style: none;
      }
    }

    .content-container {
      max-width: inherit;
      // min-height: 93.5vh;
      overflow: auto;
      flex: 1;
    }
   
    header {

      span:first-child {
        margin-right: 10px;
      }

      img {
        height: 37px;
      }

      .user-avatar {
        border-radius: 35px;
        margin-left: 5px;
      }
    }

    main {
      overflow: auto;
    }

    footer {

      span:first-child {
        cursor: default;
        font-size: 14px;
        user-select: none;
      }
    }
  }
}
