@import '~@angular/material/theming';

:host {
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  header {

    img {
      cursor: pointer;
      height: 37px;
    }

    .user-avatar {
      border-radius: 35px;
      margin-left: 5px;
    }
  }

  > main {
    overflow: auto;

    md-nav-list > a {
      outline-style: none;
    }

    > md-sidenav-container {
      overflow: auto;
      padding: 0 15px;
    }
  }

  > footer span:first-child {
    cursor: default;
    font-size: 14px;
    user-select: none;
  }
}
