<md-sidenav-container fxLayout="column">
  <md-progress-bar mode="indeterminate" color="primary" [hidden]="!isBusy"></md-progress-bar>

  <header class="mat-elevelation-z6">
    <md-toolbar color="accent">
      <button class="menu-icon" md-icon-button (click)="sidenav.toggle()" color="primary">
        <md-icon>menu</md-icon>
      </button>
      <img alt="{{ applicationTitle }}" src="{{ logoSrc }}" />
      <md-toolbar class="action-bar" color="accent">
        <a md-button *ngFor="let menuItem of primaryMenuItems"
          [routerLink]="[menuItem.path]"
          [routerLinkActive]="['active']">
          {{ menuItem.label | uppercase }}
        </a>
        <span fxFlex="1 1 auto"></span>
        <button md-button [mdMenuTriggerFor]="userMenu">
          {{ username | uppercase }}
          <img class="user-avatar" src="{{ userAvatarSource }}">
        </button>
      </md-toolbar>
    </md-toolbar>
    <md-menu #userMenu="mdMenu" xPosition="before" [overlapTrigger]="false">
      <a md-menu-item [routerLink]="['/user']">
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </a>
      <a md-menu-item [routerLink]="['/logout']">
        <md-icon>input</md-icon>
        <span>Logout</span>
      </a>
    </md-menu>
  </header>

  <md-sidenav #sidenav fxLayout="column">
    <md-toolbar color="primary">
      <span>I'm a sidenav!</span>
    </md-toolbar>
    <md-nav-list fxFlex="1 1 auto">
      <a md-list-item *ngFor="let menuItem of primaryMenuItems"
        [routerLink]="[menuItem.path]"
        [routerLinkActive]="['active']"
        (click)="sidenav.toggle()">
        {{ menuItem.label }}
      </a>
    </md-nav-list>
    <md-nav-list>
      <a md-list-item *ngFor="let link of footerLinks"
        [routerLink]="[link.path]"
        [routerLinkActive]="['active']"
        (click)="sidenav.toggle()">
        {{ link.label }}
      </a>
    </md-nav-list>
  </md-sidenav>

  <main fxLayout="column">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <md-toolbar color="accent">
      <span class="footer-text" fxFlex="1 1 auto">
        <a md-button href="https://github.com/TravisMeyers" target="_blank">
          Copyright © {{ currentYear }} TravisMeyers
        </a>
      </span>
      <a md-button *ngFor="let link of footerLinks"
        [routerLink]="[link.path]">
        {{ link.label }}
      </a>
    </md-toolbar>
  </footer>
</md-sidenav-container>
